<%- include('./partials/head',{ title : 'Actividades' }) %>

  <body>
    <%- include('./partials/header') %>
    <div class="actividades--header">
      <h4 class="title_header">Actividades</h4>
    </div>  
      <main class="actividades">
        <div class="container--h1">
          <h1>Proximas Actividades</h1>
        </div>
        <div class="cards--container">
          <% futureActivities.forEach(({id, image, title, shortDescription, description, campaign, formattedDate, date})=> { %>
            <div class="actividad--card">
              <a href="/posts/<%= id %>">

                <div class="card--section">
                  <img src="<%= image %>" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title">
                      <%= title %>
                    </h2>
                    <div class="card__container--p">
                      <p>
                        <%= shortDescription ? shortDescription : description %>
                      </p>
                    </div>

                  </div>
                </div>
              </a>
              <div class="card-footer">
                <h3>
                  <%= campaign.name %>
                </h3>
                <% if (date) { %>
                  <small class="date"><%= formattedDate %></small>
                  <% } %>
              </div>
            </div>
            <% }) %>
        </div>
        <div class="container--h1">
          <h1>Actividades Pasadas</h1>
        </div>
        <div class="cards--container">
          <% pastActivities.forEach(({id, image, title, shortDescription, description, campaign, date})=> { %>
            <div class="actividad--card">
              <a href="/posts/<%= id %>">

                <div class="card--section">
                  <img src="<%= image %>" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title">
                      <%= title %>
                    </h2>
                    <div class="card__container--p">
                      <p>
                        <%= shortDescription ? shortDescription : description %>
                      </p>
                    </div>

                  </div>
                </div>
              </a>
              <div class="card-footer">
                <h3>
                  <%= campaign.name %>
                </h3>
                <% if (date) { %>
                  <small class="date">Finalizado</small>
                  <% } %>
              </div>
            </div>
            <% }) %>
        </div>
      </main>
      <%- include('./partials/footer') %>
  </body>

  </html>