<%- include('./partials/head',{ title : 'Novedades' }) %>

    <body>
        <%- include('./partials/header') %>
        <main class="actividades">
            <div class="container--h1">
              <h1>Proximas Actividades</h1>
            </div>
            <div class="cards--container">
              <% novedades.forEach(({id, image, title, shortDescription, campaign})=> { %>
                <div class="actividad--card">
                  <a href="/novedades/<%= id %>">
    
                    <div class="card--section">
                      <img src="<%= image %>" alt="Card image cap">
                      <div class="card-body">
                        <h2 class="card-title">
                          <%= title %>
                        </h2>
                        <div class="card__container--p">
                          <p>
                            <%= shortDescription %>
                          </p>
                        </div>
    
                      </div>
                    </div>
                  </a>
                  <div class="card-footer">
                    <h3>
                      <%= campaign %>
                    </h3>
                  </div>
                </div>
                <% }) %>
            </div>
        </main>






            <%- include('./partials/footer') %>
    </body>

    </html>