<%- include('./partials/head',{ title : 'Novedades' }) %>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <body>
        <%- include('./partials/header') %>
        <main class="detail">

            <div class="box-detail">

                <h2 class="title-detail">
                    <%= post.campaign.name %>
                </h2>

                <img src="https://recursosnaturales.info/wp-content/uploads/2017/11/desarrollo-sustentable-y-sostenible-bck.jpg" alt="Card image cap">

                <div class="box-description">
                    <h1 class="title-description">
                        <%= post.title %>
                    </h1>
                    <div class="box-hr">
                        <hr>
                    </div>
                    <p>
                        <%= post.description %>
                    </p>
                </div>
                
                <% if (post.date) { %>
                    <small class="date"><%= post.date %></small>
                    <% } %>
            </div>
        </main>
            <%- include('./partials/footer') %>
    </body>

    </html>